<div
  class='bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative w-4/5 mx-auto mt-5'
  role='alert'
>
  <strong class='font-bold'>Configuration is missing!</strong>
  <span class='block sm:inline'>
    Please, specify the baseUrl and clinicianID params in order to use the
    widget.</span>
</div>